a:hover{
	text-decoration: none;
}

form{
	font-size: 18px;
}

.animate{
	animation: diwalispark 0.8s infinite;
}

@keyframes diwalispark{
	0% {color: red;},
	10% {color: yellow;}
	20% {color: blue;}
	40% {color: green;}
	50% {color: pink;}
	60% {color: orange;}
	80% {color: black;}
	100% {color: brown;}
}